*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
:root{
    --background:#fdba63;
    --secondaryBackground:#ffffff;
    --text:#000000;
    --purple:#262c3a;
    --teal:#96a4d3;
}
body{
    font-family: 'Poppins', sans-serif;
    background-color: var(--background);
    color: var(--text);
    height: 30vh;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 120px auto 0 auto;
    max-width: 500px;
  
}

.stats-container{
    padding: 30px;
    display: flex;
    border-radius: 20px;
    border: 2px solid var(--purple);  
    display: flex;
   justify-content: space-between;
    gap:20px;
    width: 100%;
}
.details{
   width: 100%;
}

#progressBar{
    width: 100%;
    height: 10px;
    background-color: var(--secondaryBackground);
    border-radius: 10px;
    margin-top: 20px;
}
#progress{
    width: 0%;
    height: 10px;
    background-color: var(--teal);
    border-radius: 10px;
    transition: all 0.3s ease;
}
#numbers{
    width: 100px;
    height: 100px;
    background-color: var(--purple);
    color: white;
    display: flex;
    align-items: center;
justify-content: center;
    border-radius: 50%;
    font-size: 30px;
    font-weight: bold;
}

form{
    margin-top: 60px;
    width: 100%;
    display: flex;
    gap: 10px;
}
input{
    flex:1;
    padding:16px;
    background: var(--secondaryBackground);
    border: 1px solid var(--purple);
    border-radius: 10px;
    outline: none;
    color: var(--text);
}
button{
    width:50px;
    height:50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--purple);
    color: white;
   font-size: 15px;
   font-weight: bold;
   outline: none;
}
#task-list{
    display:flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 30px;
    width: 100%;
    list-style:none;
}
.taskItem{
    width: 100%;
    display:flex;
    background-color: var(--secondaryBackground);
    padding:10px;
    border-radius: 10px;
    justify-content: space-between;
    align-items: center;
}
.taskItem img{
    width: 24px;
    height: 24px;
    margin: 0 10px;
    cursor: pointer;
}
.task input{
    font-family: Arial, Helvetica, sans-serif;
    width: 20px;
    height: 20px;
}
.task{
    display: flex;
    align-items: center;
    gap: 10px;

}
.task.completed{

    text-decoration: line-through;
    color: var(--teal);
}
/* Footer styles */
footer {
  
    color: #000000;
    padding: 30px 0;
    text-align: center;
}

.footer-content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.footer-section {
    flex: 1;
    padding: 20px;
    min-width: 250px;
}
